version: "3.9"

services:

    api:
    container_name: nest-api
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - app-network
      

    nginx:
    image: nginx:alpine
    container_name: nginx-reverse
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
